:root {
  --primary-color: #05182E;
  --secondary-color: #1E88E5;
  --accent-color: #F5A623;
  --text-color: #1C1C1C;
  --background-color: #fff;
  --hover-sec-color: #164FE0;
  --hover-accent-color: #F7B731;
}

body {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin:auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #1C1C1C;
}

.top-header-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: var(--primary-color);
  color: #fff;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding: 20px 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logo-name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo-name span {
  font-size: 30px;
  font-weight: bold;
}

.search-bar-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.search-bar-menu input {
  width: 500px;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-bar-menu input:focus {
  outline: none;
}
.search-bar-menu button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.5s ease;
}
.search-bar-menu button:hover {
  background-color: var(--accent-color);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}
.login-container:hover{
  border: 1px solid white;
}
.login-container .login {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.login-container .login img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
}

/*cart styling page 116 in css, page 46 in html*/
.cart-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  border: none;
}
.cart-btn-container:hover {
  outline: 1px solid white;
}
.icon-div {
  position: relative;
}
.icon-div img {
  width: 40px;
  height: 35px;
  filter: invert(1);
}
.cart-btn-container span {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
}
.cart-btn-container p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
/* End of cart styling */

/* product details page styling */
.product-page .h1-elem {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  margin-top: 0;
}

.image-spec-div .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #ccc;
}
.image-specs-div {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}
.image-specs-div .image-container {
  width: 40%;
  margin-left: 10px;
}
.image-specs-div .product-info {
  width: 60%;
  padding-top: 0px;
}
/* styling product specs list*/
.product-info h1 {
  color: var(--secondary-color);
  text-align: center;
}
.product-specs {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  margin-bottom: 20px;
  
}
.product-specs li {
  list-style-type: none;
}
.product-specs .product-name, .product-price {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
}

.action-btn {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.action-btn .buy-now-button,
.add-to-cart-button {
  padding: 6px 20px;
  font-size: 16px;
  border: none;
  font-weight: bold;
}
.action-btn .buy-now-button {
  background-color: var(--secondary-color);
  color: #fff;
}
.action-btn .buy-now-button:hover {
  background-color: var(--hover-sec-color);
}
.action-btn .add-to-cart-button {
  background-color: var(--accent-color);
}
.action-btn .add-to-cart-button:hover {
  background-color: var(--hover-accent-color);
}

/* mobile responsiveness */
@media (max-width: 600px) {
  body {
    width: 400px;
    max-width: 600px;
    margin: 0;
    padding: 0;
  }
  .image-specs-div {
    flex-direction: column;
    align-items: center;
  }
  .image-specs-div .image-container {
    width: 100%;
    margin-left: 0;
  }
  .image-specs-div .product-info {
    width: 100%;
    padding-top: 20px;
  }
}