body {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin:auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #1C1C1C;
}
.announcement {
  background-color: #FFC107;
  color: #2C2C2C;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.top-header-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #05182E;
  color: #fff;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding: 20px 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logo-name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo-name span {
  font-size: 30px;
  font-weight: bold;
}

.search-bar-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.search-bar-menu input {
  width: 500px;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-bar-menu input:focus {
  outline: none;
}
.search-bar-menu button {
  background-color: #1E88E5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.search-bar-menu button:hover {
  background-color: #0D47A1;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
}
.login-container:hover {
  border: 1px solid white;
}
.login-container .login {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.login-container .login img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
}

/*cart styling page 116 in css, page 46 in html*/
.cart-btn-container {
  display: flex;
  align-items: center;
  background: transparent;
  color: white;
  border: none;
}
.icon-div {
  position: relative;
}
.cart-btn-container span {
  position: absolute;
  top: 2px;
  right: 9px;
  font-size: 16px;
  font-weight: bold;
}


/* All button and Navigation styling */
.links-div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 10px;
  padding-bottom: 20px;
}

.mybtn {
  border: 1px solid #05182E;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.mybtn:hover {
  background-color: #164FE0;
  color: #fff;
}
.mybtn img {
  background-color: transparent;
}
.mybtn span {
  font-size: 19px;
}

.nav-bar ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.nav-bar ul li a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.nav-bar ul li a:hover {
  background-color: #164FE0;
  border-radius: 5px;
}


header {
  background-color: #1E88E5;
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5rem;
  color: #ffffff;
}
header .logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
header h1 {
  color: #ffff;
  margin: 0;
}
header h2 {
  color: #ffff;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

header p {
  color: #ffff;
  margin: 0.5rem 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.latest-deal {
  background-color: #05182E;
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffff;
  color: #000;
}

.card {
  background-color: #f1f1f1;
  padding: 1rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}
.card img {
  background: transparent;
  max-width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card .price {
  font-weight: bold;
  color: #000;
  font-size: 1.1rem;
}

.card .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.card .whatsapp-btn {
  background-color: #0D47A1;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  transition: background-color 0.3s ease;
}
.card .whatsapp-btn:hover {
  background-color: #164FE0;
}
.card a {
  text-align: center;
}

.add-to-cart-btn {
  background-color: #0D47A1;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  transition: background-color 0.3s ease;
}

footer {
  background-color: #05182E;
  color: #ffff;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .top-header {
    display: block;
  }
  .logo-name {
    text-align: center;
  }
  nav ul {
    padding: 0;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  nav li a {
    font-size: 16px;
    padding: 6px;
    display: block;
    text-align: center;
  }
  header {
    margin-top: 0;
  }
}