body {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin:auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #1C1C1C;
}
.announcement {
  background-color: #FFC107;
  color: #2C2C2C;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  background-color: #05182E;
  color: #ffffff;
}

.logo-name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo-name span {
  font-size: 30px;
  font-weight: bold;
}

nav li {
  list-style: none;
  display: inline;
}
nav li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  padding: 8px;
  transition: background-color 0.3s ease;
}
nav li a:hover {
  background-color: #0D47A1;
  color: #FFC107;
}
@media screen and (max-width: 600px) {
  .top-header {
    display: block;
  }
  .logo-name {
    text-align: center;
  }
  nav ul {
    padding: 0;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  nav li a {
    font-size: 16px;
    padding: 6px;
    display: block;
    text-align: center;
  }
  header {
    margin-top: 0;
  }
}

header {
  background-color: #1E88E5;
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5rem;
  color: #ffffff;
}
header .logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
header h1 {
  color: #ffff;
  margin: 0;
}
header h2 {
  color: #ffff;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

header p {
  color: #ffff;
  margin: 0.5rem 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffff;
  color: #000;
}

.card {
  background-color: #f1f1f1;
  padding: 1rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}
.card img {
  background: transparent;
  max-width: 100%;
  width: 250px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.card .price {
  font-weight: bold;
  color: #000;
  font-size: 1.1rem;
}

.card .whatsapp-btn {
  background-color: #0D47A1;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  transition: background-color 0.3s ease;
}
.card .whatsapp-btn:hover {
  background-color: #164FE0;
}
.card a {
  text-align: center;
}

footer {
  background-color: #05182E;
  color: #ffff;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  bottom: 0;
  margin-top: 0;
}